<a href="https://colab.research.google.com/github/FranciscoOcampoPredictiva/azureml_course/blob/main/Lecture_1_Model_Explainer_on_Local_Machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 1 - Installation an setup

In [1]:
# Install azureml interpret package
! pip install -q azureml-interpret

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 2.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 130.3/130.3 kB 6.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 60.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 356.2/356.2 kB 37.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 110.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.8/16.8 MB 62.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.9/47.9 kB 5.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 62.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.0/90.0 kB 12.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.1/61.1 kB 8.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 174.5/174.5 kB 23.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 11.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 224.2/224.2 kB 27.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 100.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 68.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 76.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 780.2/780.2 kB 53.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 965.9/965.9 kB 54.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.4/141.4 kB 18.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.4/85.4 kB 7.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.5/40.5 kB 5.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.7/42.7 kB 5.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 148.1/148.1 kB 13.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.5/55.5 kB 7.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.0/59.0 kB 7.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.5/34.5 MB 17.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 3.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 593.7/593.7 kB 37.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 856.7/856.7 kB 67.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.4/48.4 kB 6.4 MB/s eta 0:00:00
  Building wheel for shap (setup.py) ... done

# Step 2 - Training the ML model

In [2]:
# Import the pandas
import pandas as pd

# Read dataset
df = pd.read_csv('/content/Churn_Modelling.csv')

In [3]:
df = df.drop(columns=['RowNumber', 'CustomerId', 'Surname'])

In [4]:
# Dummy variables
df = pd.get_dummies(df, drop_first=True)

In [5]:
# Define X and Y Variables
X = df.drop(columns='Exited')
Y = df['Exited']

In [6]:
# Split the X and Y into train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0, stratify=Y)

In [7]:
# Train the ML model
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(random_state=0)
trained_ml_model = classifier.fit(X_train, Y_train)

In [8]:
# Predict the results
y_pred = classifier.predict(X_test)

In [9]:
# Model evaluation
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)
score = classifier.score(X_test, Y_test)
print(cm)
print(score)

[[2299   90]
 [ 341  270]]
0.8563333333333333

# Step 3 - Model explainers

## Global explanations

In [10]:
from interpret_community.tabular_explainer import TabularExplainer

In [11]:
# help(TabularExplainer)

In [12]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [13]:
# Define variables
classes = ['Exited', 'Not Exited']
features = list(X.columns)

In [14]:
# tabular explainer object

tab_explainer = TabularExplainer(model=trained_ml_model,
                                 initialization_examples=X_train,
                                 features=features,
                                 classes=classes)

In [15]:
# Global explainations
global_explaination = tab_explainer.explain_global(X_train)

In [16]:
# feature importance data
global_feature_imp = global_explaination.get_feature_importance_dict()

In [17]:
global_feature_imp

{'Age': 0.11569068889397732,
 'NumOfProducts': 0.08005822342620106,
 'IsActiveMember': 0.05316461383325616,
 'Geography_Germany': 0.03189695697579134,
 'Balance': 0.0281066806257185,
 'Gender_Male': 0.027968630058755946,
 'EstimatedSalary': 0.01950655967810963,
 'CreditScore': 0.019100968001856518,
 'Tenure': 0.01330174404392769,
 'Geography_Spain': 0.0063662267453276165,
 'HasCrCard': 0.006194165250576628}

## Local explanations

In [18]:
# five observations
feature_explain = X_test[0:5]

In [19]:
feature_explain

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
3714,823,34,3,105057.33,1,1,0,9217.92,0,0,1
7308,663,53,6,150200.23,1,0,1,151317.27,0,1,0
7156,632,65,6,129472.33,1,1,1,85179.48,1,0,1
2572,711,58,9,91285.13,2,1,1,26767.85,0,0,1
2711,608,28,9,0.00,2,1,1,125062.02,0,0,0

In [20]:
# Local explanation object
local_explanation = tab_explainer.explain_local(feature_explain)

In [21]:
# extract feature names and importance value
local_features = local_explanation.get_ranked_local_names() # feature names
local_importance = local_explanation.get_ranked_local_values() # corrosponding importance values

In [22]:
print(local_features)
# list of classes
# records
# names

[[['Age', 'Gender_Male', 'Geography_Germany', 'Balance', 'Tenure', 'Geography_Spain', 'HasCrCard', 'EstimatedSalary', 'NumOfProducts', 'CreditScore', 'IsActiveMember'], ['IsActiveMember', 'Geography_Spain', 'Geography_Germany', 'CreditScore', 'Tenure', 'NumOfProducts', 'HasCrCard', 'Balance', 'Gender_Male', 'EstimatedSalary', 'Age'], ['IsActiveMember', 'HasCrCard', 'EstimatedSalary', 'Gender_Male', 'Tenure', 'Geography_Spain', 'CreditScore', 'NumOfProducts', 'Balance', 'Geography_Germany', 'Age'], ['IsActiveMember', 'NumOfProducts', 'Gender_Male', 'CreditScore', 'Geography_Germany', 'EstimatedSalary', 'Tenure', 'HasCrCard', 'Geography_Spain', 'Balance', 'Age'], ['Age', 'NumOfProducts', 'IsActiveMember', 'Geography_Germany', 'Balance', 'EstimatedSalary', 'Tenure', 'Geography_Spain', 'CreditScore', 'HasCrCard', 'Gender_Male']], [['IsActiveMember', 'CreditScore', 'NumOfProducts', 'EstimatedSalary', 'HasCrCard', 'Geography_Spain', 'Tenure', 'Balance', 'Geography_Germany', 'Gender_Male', 'Age'], ['Age', 'EstimatedSalary', 'Gender_Male', 'Balance', 'HasCrCard', 'NumOfProducts', 'Tenure', 'CreditScore', 'Geography_Germany', 'Geography_Spain', 'IsActiveMember'], ['Age', 'Geography_Germany', 'Balance', 'NumOfProducts', 'CreditScore', 'Geography_Spain', 'Tenure', 'Gender_Male', 'EstimatedSalary', 'HasCrCard', 'IsActiveMember'], ['Age', 'Balance', 'Geography_Spain', 'HasCrCard', 'Tenure', 'EstimatedSalary', 'Geography_Germany', 'CreditScore', 'Gender_Male', 'NumOfProducts', 'IsActiveMember'], ['Gender_Male', 'HasCrCard', 'CreditScore', 'Geography_Spain', 'Tenure', 'EstimatedSalary', 'Balance', 'Geography_Germany', 'IsActiveMember', 'NumOfProducts', 'Age']]]

In [23]:
print(local_importance)

[[[0.13311105086909705, 0.03686916287488229, 0.032613749768319725, 0.016073260694934192, 0.015483477768264054, -0.0011664072431800856, -0.0032769090409888227, -0.009009549511677864, -0.025340646756049832, -0.0393603267496369, -0.04195400553110867], [0.147186757757026, 0.034840501743273355, 0.03202028031122659, 0.013240776952768646, 0.007166744828203445, -0.007694366141858893, -0.01141777604672139, -0.023916426823660998, -0.025938798170547277, -0.0380988732240131, -0.2433459640428394], [0.13206855911958343, 0.01279653983574506, 0.0125867986734373, 0.009131576514784533, 0.008435256715377435, -0.009633113347106401, -0.01192648475867878, -0.0431783596256372, -0.05263617405911316, -0.12536950979854514, -0.19823223212699126], [0.12858831466484646, 0.0804256956690939, 0.051105248484034506, 0.01808398850814837, 0.010988945105780152, 0.005243743935099556, 0.0028851525363816238, 0.0028653691586665877, -0.00473653034443572, -0.010693671528021921, -0.19071339904673718], [0.07750453309098854, 0.06778080721410355, 0.024735712009115216, 0.012763795095030117, 0.009895029120339445, 0.008297611257118654, 0.0016440831687235219, 0.0010636937400882265, 0.00020003404373377954, -2.3494072018551417e-05, -0.019818947524363733]], [[0.041954005531108875, 0.03936032674963648, 0.025340646756049585, 0.009009549511677442, 0.0032769090409888392, 0.0011664072431801008, -0.015483477768264038, -0.01607326069493398, -0.03261374976831989, -0.03686916287488231, -0.13311105086909852], [0.2433459640428392, 0.03809887322401334, 0.025938798170547277, 0.023916426823661092, 0.011417776046721416, 0.0076943661418587906, -0.007166744828203473, -0.013240776952768504, -0.0320202803112266, -0.03484050174327338, -0.14718675775702628], [0.1982322321269895, 0.12536950979854547, 0.05263617405911347, 0.04317835962563727, 0.011926484758678862, 0.009633113347106256, -0.008435256715377513, -0.009131576514784537, -0.01258679867343725, -0.01279653983574508, -0.13206855911958468], [0.19071339904673465, 0.010693671528022006, 0.004736530344435743, -0.002865369158666601, -0.0028851525363816077, -0.005243743935099629, -0.010988945105780036, -0.01808398850814811, -0.05110524848403439, -0.08042569566909323, -0.12858831466484616], [0.019818947524364066, 2.349407201855659e-05, -0.00020003404373381125, -0.0010636937400882245, -0.0016440831687235754, -0.008297611257118616, -0.00989502912033945, -0.012763795095030188, -0.024735712009114803, -0.06778080721410264, -0.0775045330909883]]]

In [24]:
y_pred[0:5]

array([0, 0, 0, 0, 0])

In [25]:
# Print the local explanations
for i in range(0, len(local_features)):
    labels = local_features[i]
    print("\n Feature suppport values for : ", classes[i])

    for j in range(0, len(labels)):

        if y_pred[j] == i:
            print("\n\tObservation number : ", j + 1)
            feature_names = labels[j]

            print("\t\t", "Feature Name".ljust(30), "  Value")
            print("\t\t", "-"*30, "-"*10)

            for k in range(0, len(feature_names)):
                print("\t\t", feature_names[k].ljust(30), round(local_importance[i][j][k], 6))

 Feature suppport values for :  Exited

	Observation number :  1
		 Feature Name                     Value
		 ------------------------------ ----------
		 Age                            0.133111
		 Gender_Male                    0.036869
		 Geography_Germany              0.032614
		 Balance                        0.016073
		 Tenure                         0.015483
		 Geography_Spain                -0.001166
		 HasCrCard                      -0.003277
		 EstimatedSalary                -0.00901
		 NumOfProducts                  -0.025341
		 CreditScore                    -0.03936
		 IsActiveMember                 -0.041954

	Observation number :  2
		 Feature Name                     Value
		 ------------------------------ ----------
		 IsActiveMember                 0.147187
		 Geography_Spain                0.034841
		 Geography_Germany              0.03202
		 CreditScore                    0.013241
		 Tenure                         0.007167
		 NumOfProducts                  -0.007694
		 HasCrCard                      -0.011418
		 Balance                        -0.023916
		 Gender_Male                    -0.025939
		 EstimatedSalary                -0.038099
		 Age                            -0.243346

	Observation number :  3
		 Feature Name                     Value
		 ------------------------------ ----------
		 IsActiveMember                 0.132069
		 HasCrCard                      0.012797
		 EstimatedSalary                0.012587
		 Gender_Male                    0.009132
		 Tenure                         0.008435
		 Geography_Spain                -0.009633
		 CreditScore                    -0.011926
		 NumOfProducts                  -0.043178
		 Balance                        -0.052636
		 Geography_Germany              -0.12537
		 Age                            -0.198232

	Observation number :  4
		 Feature Name                     Value
		 ------------------------------ ----------
		 IsActiveMember                 0.128588
		 NumOfProducts                  0.080426
		 Gender_Male                    0.051105
		 CreditScore                    0.018084
		 Geography_Germany              0.010989
		 EstimatedSalary                0.005244
		 Tenure                         0.002885
		 HasCrCard                      0.002865
		 Geography_Spain                -0.004737
		 Balance                        -0.010694
		 Age                            -0.190713

	Observation number :  5
		 Feature Name                     Value
		 ------------------------------ ----------
		 Age                            0.077505
		 NumOfProducts                  0.067781
		 IsActiveMember                 0.024736
		 Geography_Germany              0.012764
		 Balance                        0.009895
		 EstimatedSalary                0.008298
		 Tenure                         0.001644
		 Geography_Spain                0.001064
		 CreditScore                    0.0002
		 HasCrCard                      -2.3e-05
		 Gender_Male                    -0.019819

 Feature suppport values for :  Not Exited